@charset "utf-8";

body {
    background-color: white;
}

h2 {
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger_menu div {
    width: 25px;
    height: 3px;
    background-color: gray;
    margin: 3px;
    transition: all, 0.4s, ease;
}

/* Classes for java script */

.toggle .line1{
    transform: rotate(-45deg) translate(-3px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-3px, -6px);
}

#head_section {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.img_container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}


#main_contents_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#imgbox {
    padding: auto;
    margin: 5px;
}

.category {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.category #category_items {
    margin-left: 20px;
    font-size: 32px;
    padding: 5px;
    margin-right: 10px;
    border-top : 0px;
    border-right : 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-style: solid;
    border: black;
    background-color: white;
    color: black;;
}

#category_items:hover {
    padding: 5px;
    margin-right: 10px;
    border-top : 0px;
    border-right : 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-style: solid;
    border: black;
    background-color: white;
    color: gray;
}


ol {
    border: solid;
    border-color: black;;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}