<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recify</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" onclick="location.href='/'"> <img src="img/logo2.png" alt="" width="10%" height="10%" class="d-inline-block align-text-top">
                Recify</a>
            <input type="checkbox" id="check_box" />
            <label for="check_box">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div id="side_menu">
                <ul>
                    <li><a class="atag" href="/profile">Profile</a></li>
                    <li><a class="atag" href="/getReviews">Recent Reviews</a></li>
                    <li><a class="atag" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main_contents_container">
        <div id="imgbox">
            <img src="https://picsum.photos/id/4/370/400">
            <div id="textOnImage" onclick="location.href='search_by_ingredients.html'">Welcome Back, 
                <%= userName %> !
            </div>
        </div>
        <div class="img_container">
            <div id="imgbox">
                <img src="https://picsum.photos/id/232/180/180">
                <div id="textOnImage" onclick="location.href='random.html'">Get random 10 recipes!</div>
            </div>
            <div id="imgbox">
                <img src="https://picsum.photos/id/6/180/180">
                <div id="textOnImage" onclick="location.href='trendy.html'">Trendy Foods</div>
            </div>
        </div>
    </div>

    <div class="container align-content-end footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" id="footer_image" class="text-muted text-decoration-none lh-1">
                <img src="img/logo.png" alt="" width="80%" height="10%" class="d-inline-block align-text-top">
            </a>
            <span class="text">© 2022 Company, Inc</span>
          </div>
        </footer>
    </div>

    <script src="app.js"></script>
</body>

</html>