<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recify</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/nav.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <img src="img/logo2.png" onclick="location.href='/'" height="10%" width="10%">
            <a>Recify</a>
            <input type="checkbox" id="check_box" />
            <label for="check_box">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div id="side_menu">
                <ul>
                    <li><a class="atag" href="/profile">Profile</a></li>
                    <li><a class="atag" href="/getReviews">Recent Reviews</a></li>
                    <li><a class="atag" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main_contents_container">
        <div id="imgbox">
            <img src="https://picsum.photos/id/4/370/400">
            <div id="textOnImage" onclick="location.href='search_by_ingredients.html'">Welcome Back, 
                <%= userName %> !
            </div>
        </div>
        <div class="img_container">
            <div id="imgbox">
                <img src="https://picsum.photos/id/232/180/180">
                <div id="textOnImage" onclick="location.href='random.html'">Get random 10 recipes!</div>
            </div>
            <div id="imgbox">
                <img src="https://picsum.photos/id/6/180/180">
                <div id="textOnImage" onclick="location.href='trendy.html'">Trendy Foods</div>
            </div>
        </div>
    </div>

    <footer>

        
        <div id="footer_containter">
            <h5>
                Copyright © Your Website 2022
            </h5>
        </div>

        <form id="footerForm" action="logout" method="POST" class="logoutForm" onsubmit="DoLogoutForm__submit(this); return false;">
            <input type="submit" class="btn" value="Log Out"/>
            <button type="button" class="btn" onclick="location.href='/getReviews'">Reviews</button>
          </form>
    </footer>

    <script src="app.js"></script>
</body>

</html>